<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= service.description %>
  </p>

  <p>
    <strong>Requirements:</strong>
    <%= service.requirements %>
  </p>

  <p>
    <strong>Ttc:</strong>
    <%= service.ttc %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= service.service_id %>
  </p>

</div>
