<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<%= javascript_include_tag "autocomplete.js" %>


<div class="column is-full dbsbackground">
  <div class="columns is-multiline is-vcentered is-centered has-text-center">

    <div class="column is-half-tablet is-four-fifths-mobile">

      <% if session[:branch] != nil %>
        <h6 class="subtitle alignitemscenter" style="color:white;"><%=Branch.find_by(branch: session[:branch]).branch_name%></h6>
      <% end %>

      <center><h6 class="title alignitemscenter" style="color:white;">What are you looking for?</h6></center><br>

      <div class="container">
        <div class="dropdown-container" id="search">    
<<<<<<< HEAD
          <input title='press enter for more' class="input is-rounded" type="text" placeholder="ðŸ” Search for a service" id="myInput" onchange="debounce(wrapper(), 3000)" />
=======
          <input title="press enter for more" class="input is-rounded" type="text" placeholder="ðŸ” Search for a service" id="myInput" onchange="filterFunction()"/>
>>>>>>> 2734988a982ad3c72cf0a1c8d1c9548235819bd4

          <div class="dropdown display" id="results" style="display: block ">
            <%# <ul id = "myUl" style="display: none"></ul> %>
            <span class="displayText" id="displayText" style="visibility: hidden"><center>Press 'Enter' for related service</center></span>

          </div>
        </div> 
      </div>
    </div>

  </div>

  <div class="column is-full" style='margin-top:-15px;'>
  </div>

</div>

<div class="column is-full" style='margin-top:-10px;'>
</div>

<div class="container alignitemscenter">
      <h3 class="title is-4" style="text-align: middle;">Top Services</h3>
</div>

<div class="column is-full" style='margin-top:-10px;'>
</div>

<div class="column is-full gradienttopservices" style='box-shadow: 0 7px rgb(220,220,220);'>
  <div class="columns is-centered">
    <div class="column is-11-mobile is-10-tablet is-7-desktop">
      <div class="columns is-multiline is-centered is-vcentered has-text-center">

        <% @topServices.each do |service| %>

        <% the_link = time_estimate_url(service) %>
        <% the_services = service.service %>
        <% img_link = service.service_image_link.to_s %>
        

        <a href=<%= the_link %>> 
          <div class="column squarebuttons-topservice" id= <%= the_services %>> 
            <div class="topservicebutton">
              <hr style="height: 2.5px; background-color:rgb(204,0,0); margin-top:-50px;">
              
              <center><figure class="image capsize is-rounded">
                <%= image_tag img_link %>
              </figure></center>
              
              <hr style="height: 0px; visibility: hidden; margin-bottom:-5px;">

              <center><p class="small blurry-text" style="text-align: middle;"><%= the_services %></p></center>
            </div>
        </a>
          </div>

        <% end %>
      </div>
      <hr style="height: 0px; visibility: hidden; margin-bottom:-10px;">
    </div>
  </div>
</div>

<div class="column is-full" style='margin-top:-15px;'>
</div>
  
<div class="column is-full">

  <div class="container">
    <h3 class="title is-4 alignitemscenter" style="color:rgb(39, 39, 39);">Main Categories</h3>
    <hr style="height: 0px; visibility: hidden; margin-bottom:-15px;">
  </div>
  
  <div class="columns is-centered">
    <div class="column is-11-mobile is-10-tablet is-7-desktop">
      <div class="columns is-mobile is-multiline">

        <% @allServices.each do |service| %>

        <% the_link2 = sub_services_url(service.category) %>
        <% the_services2 = service.category %>

          <div class="column is-6-mobile is-3-tablet is-3-desktop categoriesbutton"> 
            <a href=<%= the_link2 %>>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <%= image_tag '' %>
                  </figure>
                </div>

                <hr style="height: 0px; visibility: hidden; margin-bottom:-15px;">

                <div class="content textarea-categories">
                    <center><p class="alignitemscenter blurry-text" style="font-size: 14px"><%= the_services2 %></p></center>   
                </div>
              </div>
            </a>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</div>

<div class="column is-full">
</div>

<button class="popoutbuttons" id="More"><%= link_to "More", more_services_path() %></button>

<div class="column is-full">
</div>
<div class="column is-full">
</div>
