  <div class="container">
    <% if session[:branch] != nil %>
      <h6 class="subtitle"><%=Branch.find_by(branch: session[:branch]).branch_name%></h6>
    <% end %>

    <h6 class="title is-3 has-text-left">What are you looking for?</h6>  
    <input class="input is-rounded" type="text" placeholder="ðŸ” Search for a service">  
  </div>
  <br>
  <br>

  <div class="container">
    <h3 class="title is-2 has-text-left">Top Services</h3>
  </div>
  <br>

  <div class="columns is-mobile is-multiline">

    <% @topServices.each do |service| %>

    <% the_link = time_estimate_url(service) %>
    <% the_services = service.service %>
    <% the_services = '' + the_services + '' %>
        
      <div class="column is-half" id= <%= service.service %>> 

        <div class="card-image">
          <figure class="image is-3by1">
            <%= image_tag 'GreyGradientBackground.png' %>
          </figure>
              <a href=<%= the_link %>>
                <div class="is-overlay centertext">
                    <center><p style="font-size: 15px;"><%= the_services %></p></center>
                </div>
              </a>   
        </div>

      </div>
    <% end %>
  </div>

  <div class="container">
    <h3 class="title is-2 has-text-left">Main Categories</h3>
  </div>
  <br>

  <div class="columns is-mobile is-multiline">

    <% @allServices.each do |service| %>

    <% the_link2 = sub_services_url(service.category) %>
    <% the_services2 = service.category %>

      <div class="column is-half"> 

        <div class="card-image">
          <figure class="image is-3by1">
            <%= image_tag 'GreyGradientBackground.png' %>
          </figure>

          <a href=<%= the_link2 %>>
            <div class="is-overlay centertext">
                <center><p style="font-size: 15px;"><%= the_services2 %></p></center>   
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
  <br>


  <button class="button" id="More"><%= link_to "More", more_services_path() %></button>