<div class="column is-full dbsbackground">
  <div class="container">
    <% if session[:branch] != nil %>
    <h6 class="subtitle alignitemscenter" style="color:white;"><%=Branch.find_by(branch: session[:branch]).branch_name%></h6>
    <% end %>
    <h3 class="title is-1 alignitemscenter" style="color:white;"><%=@category%></h3>
  </div>
</div>


<div class="column is-full gradientsubservices">


  <div class="columns is-centered">
    <div class="column is-11-mobile is-7-tablet is-7-desktop">

      <div class="columns is-multiline is-centered is-vcentered has-text-center">

        <% @services.each do |service| %>
        <% the_link = time_estimate_url(service) %>
        <% img_link = service.service_image_link.to_s %>
        <% the_services = service.service %>

        <a href=<%= the_link %>> 
          <div class="column squarebuttons-subservice" id= <%= the_services %>> 

            <article class="media">
              <figure class="media-left">
                <p class="image capsize">
                  <%= image_tag img_link %>    
                </p>
              </figure>

              <div class="media-content">
                <div class="content">
                  <p class="small blurry-text" style="text-align: middle; font-size: 16px; padding-top: 18px; padding-bottom: 8px;"><%= the_services %></p>
                </div>
              </div>
            </article>

            <hr style="height: 2px; background-color:rgb(204,0,0); margin-top:20px;">
        </a>
      </div>
      <% end %>

      </div>
    </div>
  </div>

  <div class="column is-full">
  </div>
  <div class="column is-full">
  </div>
</div>

<div class="column is-full extraheight">
</div>
<div class="column is-full extraheight">
</div>