<div class="column is-full dbsbackground-subcat" style='height=100vh'>

  <div class="column is-full" style='margin-top:0px;'> </div>

  <div class="container">
    <% if session[:branch] != nil %>
      <h6 class="subtitle alignitemscenter" style="color:white;"><%=Branch.find_by(branch: session[:branch]).branch_name%></h6>
    <% end %>
    <% if session[:branch] == nil %>
      <div class="column is-full" style='margin-top:4vh;'>
      </div>
    <% end %>
    
    <h3 class="title is-1 alignitemscenter" style="color:white;"><%=@category%></h3>

    <h3 class="subtitle is-4 alignitemscenter" style="color:white; font-size:26px; margin-top:-15px">Pick your service below</h3>
  </div>

  <div class="column is-full">

    <div class="column is-full" style='margin-top:-10px;'>
    </div>

    <div class="columns is-centered is-multiline">
      <div class="column is-11-mobile is-10-tablet is-7-desktop">
        <div class="columns is-mobile is-multiline is-centered">

          <% @services.each do |service| %>
          <% the_link = time_estimate_url(service) %>
          <% img_link = service.service_image_link.to_s %>
          <% the_services = service.service %>
           <% description = service.description %>
          
          <div class="column is-6-mobile is-3-tablet is-3-desktop"> 
            <a href=<%= the_link %>>
              <div class="column is-11">
                <div class="card subcatcard">
                  <div class="column is-full">     
                  </div>
                  <center><figure class="image is-48x48">
                    <%= image_tag img_link %>
                  </figure></center>

                  <hr style="height: 0px; visibility: hidden; margin-bottom:-15px;">

                  <div class="content textarea-categories">
                    <p class="alignitemscenter blurry-text" style="font-size: 15px; line-height:20px;"><%= the_services %></p>
                  </div>

                  <div class="content variable-fontsize">
                    <p class="alignitemscenter blurry-text"> <%= description %></p>   
                  </div>

                </div>

              </div>
            </a>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>


</div>

