<%= javascript_include_tag "time_estimate.js" %>

<div class="column is-full dbsbackground-timeestimate" style='z-index:2;'>
  <div class="column is-full">
    <h1 class='title alignitemscenter' style='font-size:44px; color:white;'><%= @service.service%></h1>
  </div>
</div>

<% if @migratable != 'TRUE'%>
  <div class="column is-full" style='margin-top:10px'>
  </div>
<% end %>

<% if @migratable == 'TRUE'%>
  <div class="column is-full alignitemscenter">
    <b><p style="font-size:45px; color:DimGray">Digital Service</p></b>
  </div>

  <div class=oval>
  </div>

  <div class="columns is-multiline is-mobile is-centered overlay-shape" style='min-height=80vh; margin-top:-370px;'>
    <div class="column is-9-mobile is-full-tablet is-full-desktop alignitemscenter" style='margin-bottom:-25px;'>
      <p style="font-size:36px; font-weight:600; line-height:45px; color:white;">Get it done with Digibank in</p>
    </div>
    <div class="column is-full alignitemscenter" style='margin-bottom:-35px;'>
      <% @digital_time = @digital_time.to_s + ' min' %>
      <h2 style='font-size:32px; font-weight:525; color:white; margin-top:0px;'><b style='font-size:38px;'><%= @digital_time %></b> </h2><br>
    </div>

    <div class="column is-full alignitemscenter" style='margin-top:60px;'>
      <center><figure class="image is-48x48" style='align-content:center;'>
        <%= image_tag 'queue.png' %>
      </figure>

      <p style='margin-top:10px;'>Skip the Queue! No need to wait.</p>
        
      <figure class="image is-48x48" style='margin-right:8px; margin-top:5px;'>
        <%= image_tag 'time.png' %>
      </figure>

      <p style='margin-top:10px;'>Easy steps. Save your time!</p>

      <a href= "<%= @deep_link %>">
        <div class="column is-full alignitemscenter" style='margin-top:15px;'>
          <button class="popoutbuttons">
            <b><p style="font-size:32px; color:white;">Go</p></b>
          </button>
        </div>
      </a>

    </div></center>

  </div>
  


  <div class="column is-full">
    <hr style="height: 2px; color:black; background-color:gray; margin-top:15px; box-shadow: 0px -15px 26px rgba(25, 25, 25, 0.95);">
  </div>

<% end %>

<center>
<div class="column is-full alignitemscenter" style='margin-top:-20px;'>
  <p style="font-size:26px; color:DimGray">Wait in the Queue</p>

  <% @branch_time  = @branch_time.to_s + ' min' %>
  <h2>Estimated time: <b id="branchtime"> <%= @total_time %> </b></h2><br>

  <div data-time-dict='<%= @branch_time_dict %>' id="data-time-dict" ></div>
  <div data-service-time=<%= @service_time %> id="data-service-time"></div>

  <div class="select is-rounded" id='branch_dropdown'>
  <%= form_with url: show_QR_path, method: :get, id: 'branch_form' do |form| %>
    <%= 
    form.select :branch_name, @all_locations_name,
    {},
    {:onchange => "changeTime(this.value)"}
     %>

    <br>
    <center><%= form.submit "Get Queue Number", class: "popoutbuttons-orange",  style: "font-size:18px; color:white;"%></center>
  <% end %>

  </div>
</div>
</center>

<div class="column is-full extraheight">
</div>
<div class="column is-full extraheight">
</div>

<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
