<!DOCTYPE html>

<html>
  <head>
    <title>HexEye</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      .columns {
        display: flex;
      }
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
      }
    </style>
  </head>

  <body>

    <div class = "columns has-background-dark is-multiline">

      <div class="column is-half-mobile is-one-quarter-tablet is-one-quarter-desktop">
        <figure class="image">
          <%= image_tag 'dbs_logo.png' %>
        </figure>
      </div>


      <div class="column is-full is-full-mobile">    
        <h1 class = "title" style="color:white"><%= link_to( "‏ ‏ ‎ ‎One-Stop Solutions", "/services")  %> </h1>
        <hr style="height: 0.1px; visibility: hidden; margin-bottom:0px;">
      </div>

    </div>

    <div class="columns is-multiline is-vcentered is-centered">
      <div class="column is-half is-four-fifths-mobile">
        
      <!--
        <h6 class="has-text-left">Debug</h6>
        <h6 class="has-text-left">Branch: <%= session[:branch]%></h6>
        <h6 class="has-text-left">Mobile: <%= session[:mobile]%></h6>
        <h6 class="has-text-left">UA: <%= session[:ua]%></h6>
        -->
          <%= yield %>
      </div>
    </div>
  
  </body>

</html>
