<!DOCTYPE html>
<html>
  <head>
    <title>HexEye</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>


<section class = "hero is-dark">
  <div class = "hero-body">
      <figure class="image">
        <%= image_tag 'dbs_logo.png'%>
      </figure><br>

        <h1 class = "title">One-Stop Solutions </h1>
  </div>
</section>

<section class="section is-small">
<%= session[:branch]%>
    <%= yield %>
</section>
  </body>

</html>
