<!DOCTYPE html>

<html>
  <head>
    <title>HexEye</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>

    <div class = "columns is-mobile is-centered is-vcentered dbsheader is-multiline" >

      <div class="column">
        <hr style="height: 2px; background-color:rgb(204,0,0);">
      </div>

      <div class="columns is-centered is-vcentered" style='margin-top:8px;'>
        <div class="column" style="max-width:180px;">
            <figure class="image">
              <%= image_tag 'dbs_logo_black.png' %>
            </figure>      
        </div>
        
        <div class="column">
          <a href="/services">    
            <p style='color:black; font-size:17px; margin-left:-25px;'>One-Stop Solutions</p>
          </a>
        </div>
      </div>

      <div class="column">
        <hr style="height: 2px; background-color:rgb(204,0,0);">
      </div>
    </div>

    <div class="columns is-multiline is-vcentered is-centered is-mobile gradientbody maxheight">
        
      <!--
        <div class="column is-half is-four-fifths-mobile is-narrow-tablet-only is-4-desktop">
        <h6 class="has-text-left">Debug</h6>
        <h6 class="has-text-left">Branch: <%= session[:branch]%></h6>
        <h6 class="has-text-left">Mobile: <%= session[:mobile]%></h6>
        <h6 class="has-text-left">UA: <%= session[:ua]%></h6>
        -->
        <%= yield %>

    </div>
  
  </body>

</html>
