<!DOCTYPE html>
<html>
  <head>
    <title>HexEye</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      .columns {
        display: flex;
      }
    </style>

  </head>

  <body>


    <div class = "columns has-background-dark is-mobile is-multiline">

      <div class="column is-half">
        <figure class="image">
          <%= image_tag 'dbs_logo.png' %>
        </figure>
      </div>

      <div class="column is-full">
        
        <h1 class = "title" style="color:white">‏ ‏ ‎ ‎One-Stop Solutions </h1>
        <hr style="height: 0.1px; visibility: hidden; margin-bottom:0px;">
      </div>
    </div><br>

    <div class="columns is-multiline is-vcentered is-centered">
        <section class="section is-medium" style="padding: 4px;">
          <%= session[:branch]%>
              <%= yield %>
        </section>
    </div>
    
  </body>

</html>
