<!DOCTYPE html>
<html>
  <head>
    <title>HexEye</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>


<section class = "hero is-dark">
  <div class = "hero-body">
    <div class = "container is-128x64">
      <figure class="image is-128x128">
        <%= image_tag 'dbs_logo.png' %>
      </figure>
    </div>
        <h1 class = "title">DBS One-Stop Solutions </h1>
        <h2 class = "subtitle">How can we help you?</h2>
  </div>
</section>

<section class="section is-small">

    <%= yield %>
</section>
  </body>

</html>
