<!DOCTYPE html>

<html>
  <head>
    <title>HexEye</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>

    <div class = "columns is-centered is-vcentered dbsheader is-multiline" >

      <div class="column" style="max-width:180px;">
          <figure class="image">
            <%= image_tag 'dbs_logo_black.png' %>
          </figure>
          <hr style="height: 0px; visibility: hidden; margin-bottom:-35px;">
      </div>

    <!--
      <div class="column is-full is-full-mobile is-hidden-mobile">    
        <center><h1 class = "title"><%= link_to( "‏ ‏ ‎ ‎One-Stop Solutions", "/services")  %> </h1></center>
        <hr style="height: 0px; visibility: hidden; margin-bottom:-15px;">
      </div>
    -->

    </div>

    <div class="columns is-multiline is-vcentered is-centered is-mobile gradientbody">
        
      <!--
        <div class="column is-half is-four-fifths-mobile is-narrow-tablet-only is-4-desktop">
        <h6 class="has-text-left">Debug</h6>
        <h6 class="has-text-left">Branch: <%= session[:branch]%></h6>
        <h6 class="has-text-left">Mobile: <%= session[:mobile]%></h6>
        <h6 class="has-text-left">UA: <%= session[:ua]%></h6>
        -->
        <%= yield %>

    </div>
  
  </body>

</html>
